<%= render 'shared/nav' %>
<body class="container">
  <main>
    <div class='container category-padding'>
      <h1>All articles.</h1>
    </div>
    <small><%= will_paginate @articles %></small>
    <hr/>
    <%= render 'article', obj: @articles %>
  </main>
  <small><%= will_paginate @articles %></small>
  <%= render 'shared/footer' %>
</body>