<%= render 'shared/nav' %>
<body class="container">
  <main>
    <%# TODO: fix pagination to hold more than one article per page %>
    <div class='container category-padding'>
      <h1>All articles.</h1>
    </div>
    <% if logged_in? %>
      <%= link_to 'Log out.', logout_path, method: :delete %>
    <% end %>
    <div role="button" class="outline">
      <small><%= will_paginate @articles %></small>
    </div>
    <%= render 'article', obj: @articles %>
  </main>
  <div role="button" class="outline">
    <small><%= will_paginate @articles %></small>
  </div>
  <%= render 'shared/footer' %>
</body>