<body>
  <article class="div-center">
    <header><b>Article title and details.</b></header>
    <hgroup>
      <p>Title: <%= @article.title %></p>
      <p>Description: <%= @article.description %></p>
    </hgroup>
    <footer>
      <b><%= link_to 'Edit.', edit_article_path(@article), class: "card-links" %></b>
      <b><%= link_to 'Delete.', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class:"card-links" %></b>
      <b><%= link_to 'Return to articles listing.', articles_path(@article), class: "card-links" %></b>
    </footer>
  </article>
</body>
