<body>
  <article>
    <header>
      <%# add created at and edited at time stamp to articles %>
      <div>
        Article: <%= @article.user.username %>
      </div>
      <% if @article.categories.any? %>
        Categories:<%= render @article.categories%>
      <% end %>
    </header>
    <hgroup>
      <p>Title: <%= @article.title %></p>
      <p>Description: <%= @article.description %></p>
    </hgroup>
    <footer>
      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <%= link_to 'Edit.', edit_article_path(@article), class: "card-links" %>
        <%= link_to 'Delete.', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class:"card-links" %>
      <% end %>
      <%= link_to 'Return to articles listing.', articles_path(@article), class: "card-links" %></b>
    </footer>
  </article>
  <%= render 'shared/footer' %>
</body>
