<%= render 'shared/nav' %>
<h1 class='category-padding'>Edit user.</h1>
<%= render 'shared/errors', obj: @user %>
<%= render 'form' %>
<%= link_to 'Home.', root_path, role: 'button' %>
<%= render 'shared/footer' %> 
