<body>
  <main>
    <h1>TinyBlog users.</h1>
    <%= will_paginate @users %>
    <div>
      <% @users.each do |user| %>
        <article>
          <header>
            <div>
             <%= link_to user.username, user %>
            </div>
          </header>
          <%= pluralize(user.articles.count, "article") %>
          <footer>
            <%= link_to "View profile.", user %>
            <% if logged_in? && user == current_user %>
              <%= link_to "Edit Profile.", edit_user_path(user) %>
            <% end %>
            <br/>
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago. </small>
          </footer>
        </article>
      <% end %>  
    </div>
    <%= will_paginate @users %>
    <%= link_to 'Return home.', root_path %>
  </main>
</body> 