<%= render 'shared/nav'%>
<body>
  <div>
    <figure>
      <%= image_tag 'tinyBlog image.jpg', class: 'about-pic' %>
    </figure>
    <div>
      <h1 class='about container'>About TinyBlog.</h1>
    </div>
    <div>
      <article class='about-space'>   
        TinyBlog is exactly what it says it is. A tiny blog.
        <br/>
        TinyBlog is built to be lightweight and simplistic in architecture. The beginning of TinyBlog started as a portfolio project, although it still is, it evolved into a type of philosophy as well. That philosophy is to keep code short, simple and concise. Most importantly however TinyBlog serves the purpose of a fully functional blogging platform while attempting to optimize the process behind the scenes.
        <br/>
        <br/>
        Sometimes less is more.
        <br/>
        Our main purpose is to make simple things for simple people.
        <br/>
        <br/>
        Built with <a href='https://rubyonrails.org/'>Ruby on Rails</a>
        <br/>
        Styled with <a href='https://picocss.com/'>Pico css</a>
        <br/>
      </article>
    </div>
    <div>
      <ul>
        <li><%= link_to 'Home.', root_path, role: 'button' %></li>
        <li><%= link_to 'Articles.', articles_path, role: 'button' %></li>
        <li><%= link_to 'Users.', users_path, role: 'button' %></li>
      </ul>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>

