<%= render 'shared/nav'%>
<body>
  <div>
    <figure>
      <%= image_tag 'tinyBlog image.jpg', class: 'about-pic' %>
    </figure>
    <div>
      <h1 class='about container'>About TinyBlog.</h1>
    </div>
    <div>
      <article>   
        TinyBlog is exactly what it says it is.
        A tiny blog. TinlyBlog is built to be lightweight and simplistic in it's architecture.
        Most importantly TinyBlog serves the purpose of a fully functional blogging platform.
        Simple things for simple people.
      </article>
    </div>
    <div>
      <ul>
        <li><%= link_to 'Home.', root_path %></li>
        <li><strong>|</strong></li>
        <li><%= link_to 'Articles.', articles_path %></li>
        <li><strong>|</strong></li>
        <li><%= link_to 'Users.', users_path %></li>
      </ul>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>

