<%= render 'shared/nav' %>
<div class='container category-padding'>
  <h1>TinyBlog categories.</h1>
</div>
<div>
  <%# TODO: change pagination %>
  <div role="button" class="outline">
    <small><%= will_paginate @categories %></small>
  </div>
  <% @categories.each do |category| %>
    <article class='category-list'>
      Category: <%= link_to category.name, category_path(category) %>
      <div>
        <%= pluralize(category.articles.count, 'article') %>
      </div>
    </article>
  <% end %>
  <div role="button" class="outline">
    <small><%= will_paginate @categories %></small>
  </div>
  <%= render 'shared/footer' %>
</div>