<%= render 'shared/nav' %>
<div class='container category-padding'>
  <h1>TinyBlog categories.</h1>
</div>
<div>
  <small><%= will_paginate @categories %></small>
  <% if current_user.admin? %>
    <div class='category-padding'>
      <%= link_to 'Create new category.', new_category_path, role: 'button' %>
    </div>
  <% end %>
  <% @categories.each do |category| %>
    <article class='category-list'>
      Category: <%= link_to category.name, category_path(category) %>
      <div>
        <%= pluralize(category.articles.count, 'article') %>
      </div>
    </article>
  <% end %>
  <small><%= will_paginate @categories %></small>
  <%= render 'shared/footer' %>
</div>