<%= render 'shared/nav' %>
<h1 class='category-padding'>Create a new category.</h1>
<%= render 'shared/errors', obj: @category %>
  <%= form_with(model: @category, local: true) do |f|%>
  <%= f.label :name, 'Category name.' %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
<%= link_to 'Categories.', categories_path(@category), role: 'button' %>
<%= render 'shared/footer' %>
