<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>TinyBlog.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# if this throws an error, revert to node prior to 15, trust me %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='container'>
    <main>
      <%# displays sucessful save via def create in articles_controller, it's here because this layout is common with all views in the app. This is why the flash makes sense here, _messages partial%>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>